<li id="g_parent_comment_chapter_id_<%= rreply.id %>">
  <div class="d-flex mt-4" style="margin-left: 7%">
    <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
    <div class="card" style="min-width: 33.8em;max-width: 33.8em;">
    <div class="card-body">
       <div class="ms-3">
        <div class="fw-bold"><%= rreply.user.username %></div>
        <%= rreply.message  %>
        <br>
       </div>
    </div>
    </div>
  </div>
</li>